header {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 10;
  grid-template-columns: auto 1fr; /*i dunno how to make the button top left better, fix if theres a better way*/
  display: grid;
}
