.notification-container {
  position: relative; /* So the dropdown can be positioned relative to the button */
}

.notification-button {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-button:hover {
  background-color: #555;
}

.notification-button:focus {
  outline: none;
}

.notification-button .react-icon {
  color: #fff;
  font-size: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 200px;
  z-index: 1000;
}

.notification-item {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000000;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.notification-item:hover {
  background-color: #b8b8b8;
}

.notification-item:focus {
  outline: none;
}
