* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.event-form-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.event-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
